header{
    background-color:map-get($color, color1);
    width: 100%;
    height: 250px;
        -webkit-animation: color-change-2x 2s linear infinite alternate both;
                animation: color-change-2x 2s linear infinite alternate both;

@-webkit-keyframes color-change-2x {
    0% {
      background: #000000;
    }
    100% {
      background: #290041;
    }
  }
  @keyframes color-change-2x {
    0% {
      background: #000000;
    }
    100% {
      background: #290041;
    }
  }
  
nav{
    
    .enlinea{
        display: flex;
        justify-content: flex-end;
        gap: 3.125rem;
        padding-right: 100px;
        padding-top: 100px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                font-size: larger;
                color: map-get($color, color2);
                text-transform: uppercase;
                font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            }
        }
    }
}
}

.Logoheader{
    width: 320px;
    height: auto;
    padding-left: 80px;
    position: absolute;
    padding-top: 10px;

}
